*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: flex;
    text-align: left;
    padding-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-btn {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .login-btn:hover {
    background-color: #555;
  }
  